.folder-design:after{
    content:'';
    position: absolute;
    background-color: blue;
    height:2rem;
    width:7rem;
    top: 0;
    right:0;
    border-radius: 0 16px 0 0;
    box-shadow: inset -4px 4px 0px 0px white;
}
.folder-design:before {
    content: '';
    position: absolute;
    top: 0;
    right: 5rem;
    width: 0;
    height: 0;
    z-index:1;
    border-bottom: 2rem solid #0d6efd;
    border-right: 2rem solid transparent; 
}
.corners{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #0d6efd;
    border-radius: 0 50% 0 0;
    right: 0;
    top: 32px;
    box-shadow: 1px -2px 0px 0px white;
}
.corners:before{
    content: '';
    position: absolute;
    height: 12px;
    width: 9px;
    background-color: #0d6efd;
    border-radius: 0 76% 0 0;
    left: -106px;
    top: -32px;
    z-index: 1;
}
